<IfModule mod_rewrite.c>

RewriteEngine On

RewriteRule ^([a-zA-Z0-9_-]+)\.aspx$ index.php?page=$1 [L]
RewriteRule ^webapp/engoncode/home ./view/module/home/cardReport.php$1 [L]
RewriteRule ^webapp/engoncode/auth/login ./view/module/auth/post.php$1 [L]
RewriteRule ^webapp/engoncode/auth/logout ./view/module/auth/logout.php$1 [L]
RewriteRule ^webapp/engoncode/([a-zA-Z0-9_-]+)\/post ./view/module/$1/post.php [L]
RewriteRule ^webapp/engoncode/([a-zA-Z0-9_-]+)\/data ./view/module/$1/table.php [L]
RewriteRule ^webapp/engoncode/([a-zA-Z0-9_-]+)\/edit/([a-zA-Z0-9_-]+)\/?$ index.php?page=$1&action=edit&id=$2 [L]


Options All -Indexes

</IfModule>
